<%# 子どもの名前をクリックすると出るモーダル %>
<% @children.each do |child| %>
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
            <%= child.name %>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <button id="openModal2Button" class="btn btn-original">管理</button>
          <%= form_with url: check_password_children_path, method: :post do |f| %>
            <%= f.hidden_field :child_id, id: 'child_id_input' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# 上のモーダル内にある管理をクリックすると出るモーダル %>
<div class="modal fade" id="exampleModalTogglePass" aria-hidden="true" aria-labelledby="exampleModalToggleLabelPass" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabelPass">パスワードを入力してください</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: check_password_children_path(source: 'children_show'), method: :post do |f| %>
          <%= f.email_field :email, style: 'display: none;', 'aria-hidden': true, tabindex: -1, autocomplete: 'parentemail', id: "parent_email_#{@current_parent}" %>
          <div class="mb-3">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password', id: "parent_password_#{@current_parent}" %>
          </div>
          <%= f.hidden_field :child_id, id: 'child_id_input' %>
          <%= f.submit '送信', class: 'btn btn-original' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# 親の名前をクリックすると出るモーダル モーダル３ %>
<div class="modal fade" id="exampleModalToggleParent" aria-hidden="true" aria-labelledby="exampleModalToggleLabelParent" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabelParent">パスワードを入力してください</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: check_password_children_path(source: 'parents_show'), method: :post do |f| %>
            <%= f.email_field :email, style: 'display: none;', 'aria-hidden': true, tabindex: -1, autocomplete: 'parentemail' %>
            <div class="mb-3">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password' %>
          </div>
          <%= f.submit '送信', class: 'btn btn-original' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
