<!-- 子どもの名前をクリックすると出るモーダル -->
<% @children.each do |child| %>
  <div class="modal fade" id="exampleModalToggle_<%= child.id %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel_<%= child.id %>" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
            <%= child.name %>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4 p-2">
              <%= link_to 'カレンダー確認', calendar_child_promises_path(child), class: 'btn btn-original shadow-sm' %>
            </div>
            <div class="col-sm-4 p-2">
              <%= link_to '今日のやくそく', '#', class: 'btn btn-original shadow-sm' %>
            </div>
            <div class="col-sm-4 p-2">
              <button id="openModal2Button_<%= child.id %>" data-child-id="<%= child.id %>" class="btn btn-original shadow-sm">お子様情報管理</button>
              <%= form_with url: check_password_children_path, method: :post do |f| %>
                <%= f.hidden_field :child_id, id: "child_id_input_#{child.id}" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- 上のモーダル内にある管理をクリックすると出るモーダル -->
<% @children.each do |child| %>
  <div class="modal fade" id="exampleModalTogglePass_<%= child.id %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabelPass_<%= child.id %>" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabelPass">パスワードを入力してください</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with url: check_password_children_path(source: 'children_show'), method: :post do |f| %>
            <%= f.email_field :email, style: 'display: none;', 'aria-hidden': true, tabindex: -1, autocomplete: 'parentemail', id: "parent_email_#{child.id}" %>
              <div class="mb-3">
                <%= f.label :password, 'パスワード' %>
                <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password', id: "parent_password_#{child.id}" %>
              </div>
              <%= f.hidden_field :child_id, id: "child_id_input_pass_#{child.id}" %>
              <%= f.submit '送信', class: 'btn btn-original shadow-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- 親の名前をクリックすると出るモーダル モーダル３ -->
<div class="modal fade" id="exampleModalToggleParent" aria-hidden="true" aria-labelledby="exampleModalToggleLabelParent" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabelParent">パスワードを入力してください</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: check_password_children_path(source: 'parents_show'), method: :post do |f| %>
          <%= f.email_field :email, style: 'display: none;', 'aria-hidden': true, tabindex: -1, autocomplete: 'parentemail' %>
          <div class="mb-3">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password' %>
          </div>
          <%= f.submit '送信', class: 'btn btn-original shadow-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
