<div class="container">
  <div class="row grid gap-3">
    <div class="text-center">
        <br />
        <br />
        <br />
        <br />
      <div class="h5 col blink">⇩マイページ⇩</div>
      <button class="btn name-link", data-bs-target="#exampleModalToggleParent", data-bs-toggle="modal"> 
        <div class="display-2 p-2">
          <%= @current_parent.name %> 
        </div>
      </button>
        <br />
        <br />
        <br />
        <br />
      <div class="h5 col blink">⇩えらんでね☺︎⇩</div>
        <% @children.each do |child| %>
          <div class="d-grid gap-2 p-2 m-4">
            <button class="btn btn-original col-9 mx-auto child-modal-trigger" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" data-child-name="<%= child.name %>" data-child-id="<%= child.id %>">
              <div class="display-5 p-2">
                <%= child.name %>
              </div>
            </button>
          </div>
        <% end %>
        
        <%= render 'modal' %>
      </div>
    </div>
  </div>
</div>


