<div class="container">
  <div class="grid gap-3">
    <div class="text-center">
      <br />
      <br />
      <br />
      <br />
      <div class="h3 col blink">⇩マイページ⇩</div>
      <button class="btn name-link", data-bs-target="#exampleModalToggleParent", data-bs-toggle="modal"> 
        <div class="display-5 p-2 fw-bold">
          <%= @current_parent.name %> 
        </div>
      </button>
      <br />
      <br />
      <br />
      <div class="h3 col blink">⇩えらんでね☺︎✻⇩</div>
      <div class="d-grid gap-2 p-2 m-4">
        <% @children.each do |child| %>
          <button class="btn btn-original col-9 mx-auto child-modal-trigger fw-bold shadow-sm" data-child-name="<%= child.name %>" data-child-id="<%= child.id %>">
            <div class="h3 p-2" style="pointer-events: none;">
              <%= child.name %>
            </div>
          </button>
        <% end %>
      </div>
        
      <%= render 'modal' %>
    </div>
  </div>
</div>
