<div class="parent_main">
  <div class="container">
    <div class="row grid gap-3">
      <div class="text-center p-2">
          <br />
        <div class="display-5 p-4">登録情報の変更</div>
          <br />
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), local: true, data: { turbo: false }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>  
          <div class="field p-2 col">
            <h2>【お名前変更】</h2>
          </div>
          <div class="field h3 p-2 col">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <br />
          <div class="actions p-2 d-grid gap-4 col-5 mx-auto">
            <%= f.submit "更新する", class: 'btn btn-original shadow-sm' %>
          </div>
          <% end %>
          <br />
        <div class="text-start p-5">
          <%= link_to parent_path, class: 'main-link' do %>
            <i class="fa-solid fa-circle-arrow-left"></i><span>戻る</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
