<div crass="container">
  <div class="row grid gap-3">
    <div class="text-center">
      <div class="display-5 p-4">Sign up</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field h3 p-2 col">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field h3 p-2 col">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field h3 p-2 col">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      
        <div class="field h3 p-2 col">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      
        <div class="actions p-2 d-grid gap-4 col-3 mx-auto">
          <%= f.submit "Sign up", class: 'btn btn-original btn-lg' %>
        </div>
      <% end %>

      <div class="field p-2 col">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>