<div class="parent_main">
  <div class="container">
    <div class="grid gap-3">
      <br />
      <div class="h3"><%= @child.name %>の設定</div>
      <br />
      <div class="p-1 m-1">
        <h6>こちらの登録を元にやくそく達成時のご褒美を決定します♪</h6>
      </div>
      <% if !@rewards.present? %>
        <div class="p-3 m-4">
          <h6>はじめにやくそく達成時のご褒美と</h6>
          <h6>ご褒美を渡す日の通知設定を行います</h6>
        </div>
      <% end %>
      <%if !@payday.present? %>
        <div class="p-3 m-4">
          <h6>通知方法のデフォルトはメールですが</h6>
          <h6>マイページからLINE連携することで</h6>
          <h6>LINE通知もご利用いただけます</h6>
        </div>
      <% end %>
      <div class="h4">①通知日を設定してください</div>
      <div class="row text-center h4">
        <div class="col p-2 m-2 bg-light border border-secondary rounded shadow-sm">
          <% if @child.payday.present? %>
            <div class="d-flex justify-content-start">
              <% if @payday.date? %>
                毎月<%= @payday.date %>日に
              <% elsif @payday.week? %>
                毎週<%= I18n.t("date.day_names")[Payday.weeks[@payday.week]] %>に
              <% elsif @payday.end_month? %>
                毎月<%= I18n.t("payday.end_month.true") %>に
              <% end %>
              <%= I18n.t("payday.action_type.#{@payday.action_type}") %>
            </div>
            <div class="d-flex justify-content-end">
              <%= link_to edit_child_payday_path(@child), class: 'btn btn-original col-m-4 shadow-sm' do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex justify-content-end">
              <%= link_to new_child_payday_path(@child), class: 'btn btn-original col-m-4 shadow-sm' do %>
                <i class="fa-solid fa-plus"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <br />
      <br />
      <% if @payday.present? %>
        <div class="d-flex justify-content-between">
          <div class="h3">②ご褒美を登録してください</div>
          <%= link_to new_child_reward_path(@child), class: 'btn btn-original col-m-4 shadow-sm' do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </div>
        <div class="row text-center h4">
          <ul class="list-group p-2">
            <% @rewards.each do |reward| %>
              <li class="list-group-item bg-light border border-secondary rounded shadow-sm list_color">
                <div class="d-flex">
                  <% if reward.pieces? %>
                    <%= reward.pieces %>
                    <span>個以上達成で</span>
                  <% elsif reward.pt_range? %>
                    <%= reward.pt_range %>
                    <span>ポイント以上達成で</span>
                  <% elsif reward.pt_addition? %>
                    <span>おやくそく達成で</span>
                  <% end %>
                  <%= "#{reward.body} GET!!" %>
                </div>
                <div class="d-flex justify-content-end">
                  <%= link_to edit_child_reward_path(@child, reward), class: 'btn btn-original mx-2 shadow-sm' do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                  <%= button_to child_reward_path(@child, reward), class: 'btn btn-original shadow-sm',
                               method: :delete, data: { turbo_confirm: "#{reward.body}を削除しますか?" } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
          </div>
        <% end %>
      <br />
      <br />
      <% if @rewards.present? %>
        <div class="p-2">
          <%= link_to child_path(@child.id), class: 'main-link ' do %>
            <i class="fa-solid fa-circle-arrow-left"></i><span>戻る</span>
          <% end %>
        </div>
      <% end %>
      <br />
    </div>
  </div>
</div>
