<div class="parent_main">
  <div class="container">
    <div class="grid gap-3">
      <br />
      <div class="h3"><%= @child.name %>の設定</div>
      <br />
      <br />
      <br />
      <div class="h4">通知</div>
      <div class="row text-center h4">
        <div class="col p-2 m-2 bg-light border border-secondary rounded">
          <% if @child.payday.present? %>
            <div class="d-flex justify-content-start">
              <% if @payday.date? %>
                毎月<%= @payday.date %>日に
              <% elsif @payday.week? %>
                毎週<%= I18n.t("date.day_names")[@payday.week.to_i] %>に
              <% elsif @payday.end_month? %>
                毎月<%= @payday.end_month %>に
              <% end %>
              <%= @payday.action_type %>
            </div>
            <div class="d-flex justify-content-end">
              <%= link_to "編集", edit_child_payday_path(@child), class: 'btn btn-original col-m-4' %>
            </div>
          <% else %>
            <div class="d-flex justify-content-end">
              <%= link_to "登録", new_child_payday_path(@child), class: 'btn btn-original col-m-4' %>
            </div>
          <% end %>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="d-flex justify-content-between">
        <div class="h4">ご褒美</div>
        <%= link_to "登録", new_child_reward_path(@child), class: 'btn btn-original col-m-4' %>
      </div>
      <div class="row text-center h4">
        <div class="col p-2 m-2 bg-light border border-secondary rounded">
          <% @rewards.each do |reward| %>
            <div class="d-flex">
              <% if @reward.pieces? %>
                <%= reward.pieces %>
              <% elsif @reward.pt_range? %>
                <%= reward.pt_range %>
              <% elsif @reward.pt_addition? %>
                <%= reward.pt_addition %>
              <% end %>
              <%= render.unit %>達成で<%= render.body %>GET✨
            </div>
            <div class="justify-content-between">
              <%= link_to "編集", edit_child_reward_path(@child), class: 'btn btn-original col-m-4' %>
            </div>
          <% end %>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="d-flex justify-content-end">
        <%= link_to '戻る', child_path(@child.id), class: 'main-link ' %>
      </div>
    </div>
  </div>
</div>
