<div class="parent_main">
  <div class="container">
    <div class="grid gap-3">
      <br />
      <div class="d-flex justify-content-center align-items-end bg-light border border-secondary rounded-pill p-3 shadow-sm">
        <div class="h2 fw-bold"><%= @current_parent.name %></div>
      </div>
        <br />
      <div class="d-flex align-items-center">
        <h3>お子様の登録情報</h3>
        <%= link_to new_child_path, class: 'btn btn-original shadow-sm mx-5' do %>
          <span> 登録 </span><i class="fa-solid fa-user-plus"></i>
        <% end %>
      </div>
        <br/>
      <div class="row p-3 mb-2 list-group">
        <% if @parent_children.present? %>
          <% @parent_children.each do |child| %>
            <li class="list-group-item bg-light border border-secondary shadow-sm">
              <div class="row">
                <div class="h2 clo p-2 m-3 fw-bold">
                  <%= child.name %>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="h4 p-2 m-3">
                    <%= child.birth_date.strftime('%Y/%m/%d') %><br />
                    <%= "(#{calculate_age(child.birth_date)}才）" %>
                  </div>
                  <div>
                  <% if child.payday.present? %>
                    <%= link_to child_path(child), class: 'btn btn-original m-1 shadow-sm' do %>
                      <i class="fa-solid fa-user-gear"></i>
                    <% end %>
                  <% else %>
                  <%= link_to child_rewards_path(child), class: 'btn btn-original m-1 shadow-sm' do %>
                    <i class="fa-solid fa-user-gear"></i>
                  <% end %>
                  <% end %>
                    <%= link_to edit_child_path(child), class: 'btn btn-original m-1 shadow-sm' do %>
                      <i class="fa-solid fa-user-pen"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
          <div class="p-2 text-center">
            <span>やくそくは</span>
              <i class="fa-solid fa-user-gear"></i>
            <span>で登録!!</span>
          </div>
        <% else %>
          <h4>誰とやくそくする？？</h4>
          <div>
            <span>まずは</span>
            <%= link_to new_child_path, class: 'btn btn-original shadow-sm' do %>
              <span> 登録 </span><i class="fa-solid fa-user-plus"></i>
            <% end %>
            <span> から登録を </span>
            <i class="fa-regular fa-hand-point-up"></i>
          </div>
        <% end %>
      </div>
        <br />
        <br />
      <div class="actions p-2 d-grid gap-4 col-8 mx-auto">
        <%= link_to "アカウント名変更", edit_parent_registration_path, class: 'btn btn-original shadow-sm' %>
        <%= link_to "メールアドレス変更", edit_email_path, class: 'btn btn-original shadow-sm' %>
        <%= link_to "パスワード変更", password_edit_path, class: 'btn btn-original shadow-sm' %>
        <% if current_parent.provider.present? && current_parent.uid.present? %>
          <button class="btn btn-original shadow-sm" disabled>連携済み</button>
        <% else %>
          <%= link_to "LINEと連携する", parent_line_omniauth_authorize_path(provider: :line), class: 'btn btn-original shadow-sm' %>
        <% end %>
      </div>
      <br />
      <br />
      <div class="p-2">
        <%= link_to root_path, class: 'main-link ' do %>
          <i class="fa-solid fa-circle-arrow-left"></i><span>戻る</span>
        <% end %>
      </div>
      <div class="text-center p-5">
        <%= button_to 'アカウントを削除する', parent_registration_path, class: 'btn btn-original shadow-sm', method: :delete, data: { turbo_confirm: "アカウントを削除しますか?" } %>
      </div>
    </div>
  </div>
</div>