<div class="parent_main">
  <div class="container">
    <div class="row grid gap-3">
      <div class="text-center">
          <br />
          <br />
          <br />
          <br />
        <div class="d-flex justify-content-between align-items-center">
          <span class="h3">お子様の登録情報</span>
          <button type="button" class="btn btn-original  btn-lg">
            <%= link_to "お子様を登録", new_child_path, class: 'body-link' %>
          </button>
        </div>
          <br/>
        <div class="row clo-8 bg-white p-3 mb-2 ">
          <% @parent_children.each do |child| %>
            <div class="d-flex">
              <div class="d-flex justify-content-between  align-items-center">
                <button type="button" class="btn btn-original btn-lg m-3">
                  <%= link_to "管理", child_path(child), class: 'body-link' %>
                </button>
                <button type="button" class="btn btn-original btn-lg m-3">
                  <%= link_to "編集", edit_child_path(child), class: 'body-link' %>
                </button>
                <div class="h2 p-2 m-3">
                  <%= child.name %>
                </div>
                <div class="h4 p-2 m-3">
                  <%= child.birth_date.strftime('%Y/%m/%d') %>
                  <%= "(#{calculate_age(child.birth_date)}才）" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
          <br />
          <br />
          <br />
        <div class="actions p-2 d-grid gap-4  col-3 mx-auto">
          <button type="button" class="btn btn-original btn-lg">
            <%= link_to "管理者情報変更", edit_parent_registration_path, class: 'body-link' %>
          </button>
            <br />

          <%# LINE連携はここに入れる %>

        </div>
      </div>
    </div>
  </div>
</div>