<div class="parent_main">
  <div class="container">
    <div class="grid gap-3">
      <br />
      <div class="d-flex justify-content-center align-items-end bg-light border border-secondary rounded-pill p-3 shadow-sm">
        <div class="h2 fw-bold"><%= @current_parent.name %></div>
      </div>
        <br />
      <div class="d-flex align-items-center">
        <h3>お子様の登録情報</h3>
        <%= link_to new_child_path, class: 'btn btn-original shadow-sm mx-5' do %>
          <spam> 登録 </spam><i class="fa-solid fa-user-plus"></i>
        <% end %>
      </div>
        <br/>
      <div class="row p-3 mb-2 list-group">
        <% @parent_children.each do |child| %>
          <li class="list-group-item bg-light border border-secondary shadow-sm">
          <div class="row">
            <div class="h2 clo p-2 m-3 fw-bold">
              <%= child.name %>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="h4 p-2 m-3">
                <%= child.birth_date.strftime('%Y/%m/%d') %><br />
                <%= "(#{calculate_age(child.birth_date)}才）" %>
              </div>
              <div>
                <%= link_to child_path(child), class: 'btn btn-original m-1 shadow-sm' do %>
                  <i class="fa-solid fa-user-gear"></i>
                <% end %>
                <%= link_to edit_child_path(child), class: 'btn btn-original m-1 shadow-sm' do %>
                  <i class="fa-solid fa-user-pen"></i>
                <% end %>
              </div>
            </div>
          </div>
          </li>
        <% end %>
      </div>
        <br />
        <br />
      <div class="actions p-2 d-grid gap-4 col-8 mx-auto">
        <%= link_to "アカウント名変更", edit_parent_registration_path, class: 'btn btn-original shadow-sm' %>
        <%# link_to "メールアドレス変更", '#', class: 'btn btn-original shadow-sm' %>
        <%# link_to "パスワード変更", '#', class: 'btn btn-original shadow-sm' %>
        <%= link_to 'LINE連携はここに入れる', '#', class: 'btn btn-original shadow-sm' %>
        <br />
        <br />
        <br />
        <%= button_to 'Cancel my accountアカウントを削除する', parent_registration_path, class: 'btn btn-original shadow-sm', method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>