<div id="promises-new-edit">
  <% render 'shared/error_messages', object: @promise %>
  <%= form_with model: [@child, @promise] do |f| %>
    <div class="row d-flxe justify-content-center p-2">
      <div class="p-3 border border-secondary rounded bg-light shadow-sm" id="formContainer">
        <div class="field h3 p-2 col">
          <%= f.label :description %><br />
          <%= f.text_field :description %>
        </div>
        <div class="field h3 p-2 col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
            <%= f.label :start_day %><br />
            <div class="field" id="date_select">
              <%= f.date_select :start_day, use_month_numbers: true %><br />
            </div>
            <div class="field p-2" id="check_flag">
              <spam>毎日のやくそくにする</spam>
              <%= f.hidden_field :monthly_flag, value: false %>
              <%= f.check_box :monthly_flag %>
            </div>
            <div class="initialism"><%= '※選択すると１ヶ月分毎日のやくそくとして自動登録されます' %></div>
          </div>
        </div>
        <div class="field h3 p-2 col">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
            <%= f.label :day_of_week %><br />
            <div class="field" id="weekday">
              <%= f.select :day_of_week, Promise.day_of_weeks.keys.map { |w| [I18n.t("date.day_names")[Promise.day_of_weeks[w]], w] } %>
            </div>
            <div class="initialism"><%= '※登録から約１ヶ月間毎週のやくそくとして登録されます' %></div>
          </div>
        </div>
        <div class="field h3 p-2 col">
          <div class="initialism">
            <%= '１日に何回行いますか？' %>
          </div>
          <%= f.number_field :frequency, in: 1..10, step: 1, value: f.object.frequency || 1 %>
          <spam>回</spam>
        </div>
        <% if  @rewards.any? { |reward| reward.pt_range? || reward.pt_addition? } %>
        <div class="field h3 p-2 col">
          <div class="initialism">
            <%= '守れた時の獲得ポイント' %>
          </div>
          <%= f.number_field :points, in: 0..1000, value: f.object.frequency || 0 %>
          <spam>ポイント</spam>
        </div>
        <% end %>
        <div class="col d-flex justify-content-end">
          <%= f.submit '登録', class: 'btn btn-original shadow-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
