<div class="container">
  <div class="grid gap-3">
    <br />
    <div class="h3">
      <%= "#{@child.name}の" %><br />
      <i class="fa-regular fa-calendar"></i><%= 'カレンダー' %>
    </div>
    <%= month_calendar do |date| %>
      <%= date.day %>
      <div>
        <%= "#{@completed_counts[date]||0} /" %>
        <%= "#{@promises_counts[date]||0}" %>
        </div>
    <% end %>
  </div>
</div>
