<div class="container">
  <div class="grid gap-3">
    <br />
    <div class="h3">
      <%= @child.name %>
      <i class="fa-regular fa-calendar-days"></i>
    </div>
    <%= month_calendar do |date| %>
      <%= date.day %>
      <div class="h4 text-end">
        <%= link_to  child_counts_path(@child, date: date),class: 'main-link' do %>
          <%= "#{@completed_counts[date]||0}" %>
        <% end %>
        <%= "/ #{@promises_counts[date]||0}" %>
      </div>
    <% end %>
  </div>
</div>