<div class="parent_main">
  <div class="container">
    <div class="grid gap-3">
      <br />
      <br />
      <ul class="list-group p-2">
        <li class="list-group-item list-group-item-secondary border border-secondary rounded shadow-sm list_color h6">
          <div>やくそく日・1日の回数・達成ポイント</div>
          <div>やくそくの内容</div>
        </li>
        <li class="list-group-item bg-light border border-secondary rounded shadow-sm list_color h4">
          <div class="justify-content-start">
            <% if @promise.day_of_week? %>
              <%= I18n.t("date.day_names")[@promise.day_of_week_before_type_cast]  %>
            <% elsif @promise.start_time?  %>
              <%= @promise.start_time.strftime('%Y/%m/%d') %>
            <% end %>
              ・<%= @promise.frequency %>回
            <% if @promise.points? %>
              ・<%= @promise.points %>ポイント
            <% end %>
            <br />
            <div class="justify-content-start">
              <%= @promise.description %><br />
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <%= link_to "編集", edit_child_promise_path(@child, @promise), class: 'btn btn-original mx-2 shadow-sm' %>
            <%= button_to '削除', child_promise_path(@child, @promise), class: 'btn btn-original shadow-sm',
                         method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </li>
      </ul>
      <div class="d-flex justify-content-end">
        <%= link_to '戻る', child_promises_path, class: 'main-link ' %>
      </div>
    </div>
  </div>
</div>
